body {
    font-family: monospace;
    padding: 20px;
    background: #222;
    color: #eee;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

#main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 0.8rem;
}

#top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
    margin-bottom: 0.5rem;
}

#image {
    width: 3.3rem;
    border: 1px solid rgb(46, 46, 46);
    border-radius: 25%;
}

#title {
    font-size: 2rem;
}

#code-input {
    width: 90%;
    height: 200px;
    background: #111;
    color: #0f0;
    border: 1px solid #444;
    padding: 10px;
    min-height: 50px;
    min-width: 200px;
    font-size: 1.2rem;
}

button {
    padding: 5px 12px;
    cursor: pointer;
    font-weight: bold;
    font-weight: normal;
    background-color: #878787;
    color: black;
    font-size: 1.1rem;
}

button:hover {
    color: rgb(255, 255, 255);
    border-color: rgb(207, 207, 207);
}

#controls {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    height: 2rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

#status {
    color: #888;
    margin-left: 0.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 1.2rem;
    margin-left: 0.5rem;
}